<div class="contenedor">
  <!-- <p>Seleccione el producto que quiere editar:</p> -->

  <div>
    <button (click)="mostrarProductos()">Ver productos</button>
    <button (click)="mostrarCrearProductos()">Crear producto</button>
  </div>


  <div *ngIf="listarProductos">

    <label for="restauranteFiltro">Restaurante: </label>
    <select name="restauranteFiltro" id="restauranteFiltro">
      <option value="">--Seleccione</option>
      <option *ngFor="let restaurante of restaurantes" value="{{restaurante.id}}">{{restaurante.nombre}}</option>
    </select>
    <button (click)="filtrar()">Filtrar</button>

    <table class="styled-table">
      <tr>
        <th *ngFor="let title of cabecera">{{title}}</th>
      </tr>
      <tr *ngFor="let producto of productosFiltrados">
        <td>{{producto.id}}</td>
        <td>{{producto.restaurante.nombre}}</td>
        <td>{{producto.nombre}}</td>
        <td>{{producto.tipoProducto.nombre}}</td>
        <td>{{producto.cantidad}}</td>
        <td>{{producto.descripcion}}</td>
        <!-- <td>{{producto.imagen}}</td> -->
        <td>{{producto.precio}}</td>
        <td>
          <button class="btn btn-primary btn-block" (click)="IniciarUpdateProducto(producto.id)">Actualizar</button>
          <button class="btn btn-primary btn-block" (click)="llamarServicioDeleteProducto(producto.id)">Eliminar</button>
        </td>
      </tr>
    </table>
  </div>



  <div *ngIf="crearProductos">
    <p>Llene los campos para crear un nuevo producto:</p>
    <div class="row">
      <div class="col-sm-6 offset-md-3">
        <div class="card card-body">
          <form [formGroup]="formProducto" #myForm="ngForm" (ngSubmit)="llamarServicioPostProducto()">
            <div class="form-group">
              <label for="idRestaurante">Restaurante: </label><br>
              <select name="idRestaurante" id="idRestaurante" formControlName="idRestaurante">
                <option value="">--Seleccione</option>
                <option *ngFor="let restaurante of restaurantes" value="{{restaurante.id}}">{{restaurante.nombre}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="nombre">Nombre de producto:</label>
              <input type="text" name="nombre" class="form-control" formControlName="nombre">
            </div>

            <div class="form-group">
              <label for="idTipoProducto">Tipo de producto:</label>
              <select name="idTipoProducto" id="idTipoProducto" formControlName="idTipoProducto">
                <option value="">--Seleccione</option>
                <option *ngFor="let tipoproducto of tipoproductos" value="{{tipoproducto.id}}">{{tipoproducto.nombre}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="cantidad">Cantidad:</label>
              <input type="number" name="cantidad" formControlName="cantidad" class="form-control">
            </div>

            <div class="form-group">
              <label for="descripcion">Descripción de producto:</label>
              <input type="text" name="descripcion" formControlName="descripcion" class="form-control">
            </div>

            <div class="form-group">
              <label for="imagen">Url imagen:</label>
              <input type="text" name="imagen" formControlName="imagen" class="form-control">
            </div>

            <div class="form-group">
              <label for="precio">Precio:</label>
              <input type="number" name="precio" formControlName="precio" class="form-control">
            </div>
            <button class="btn btn-primary btn-block">Crear</button>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="actualizarProductos">
    <p>Cambie el contenido de los campos que desea actualizar:</p>
    <div class="row">
      <div class="col-sm-6 offset-md-3">
        <div class="card card-body">
          <form [formGroup]="formProductoAct" #myForm="ngForm" (ngSubmit)="llamarServicioUpdateProducto()">
            <div class="form-group" style="display: none;">
              <label for="id">id: </label><br>
              <select name="id" id="id" formControlName="id">
                <option value="">--Seleccione</option>
                <option *ngFor="let restaurante of restaurantes" value="{{restaurante.id}}">{{restaurante.nombre}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="idRestaurante">Restaurante: </label><br>
              <select name="idRestaurante" id="idRestaurante" formControlName="idRestaurante">
                <option value="">--Seleccione</option>
                <option *ngFor="let restaurante of restaurantes" value="{{restaurante.id}}">{{restaurante.nombre}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="nombre">Nombre de producto:</label>
              <input type="text" name="nombre" class="form-control" formControlName="nombre">
            </div>

            <div class="form-group">
              <label for="idTipoProducto">Tipo de producto:</label>
              <select name="idTipoProducto" id="idTipoProducto" formControlName="idTipoProducto">
                <option value="">--Seleccione</option>
                <option *ngFor="let tipoproducto of tipoproductos" value="{{tipoproducto.id}}">{{tipoproducto.nombre}}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="cantidad">Cantidad:</label>
              <input type="number" name="cantidad" formControlName="cantidad" class="form-control">
            </div>

            <div class="form-group">
              <label for="descripcion">Descripción de producto:</label>
              <input type="text" name="descripcion" formControlName="descripcion" class="form-control">
            </div>

            <div class="form-group">
              <label for="imagen">Url imagen:</label>
              <input type="text" name="imagen" formControlName="imagen" class="form-control">
            </div>

            <div class="form-group">
              <label for="precio">Precio:</label>
              <input type="number" name="precio" formControlName="precio" class="form-control">
            </div>
            <button class="btn btn-primary btn-block">Actualizar</button>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>
