.contenedor{
  margin: 10em auto;
  width: 80%;
  text-align: center;
}
.contenedor-restaurante{
  display: flex;
  flex-wrap:wrap;
  margin: auto;

}
.restaurantes{
  display: flex;
  margin: 1em;
  /* height: 12em; */
  text-align: center;
  background-color: #E4DCCF;
  padding: 2em;
  border-radius: 1em;
  flex-wrap:wrap;
  flex-direction: column;
}
h4{
  margin: 1rem;
}
.logo-restaurante{
  width: 5rem;
  margin: auto;
  border-radius: 0.5rem;
}
.restaurantes:hover{
  box-shadow: 5px 5px;
  background-color: #BFDB38;
}
.titulo-restaurante{
  padding: 0.5em;
  border-radius: 0.5em;
  color: #EB6440;
  font-weight: 700;
  text-decoration: none;
}
.direccion{
  height: 8rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;

}
.button{
  border-bottom: none;
  margin: 1em;
  text-decoration: none;
  background-color: #497174;
  padding: 0.5em;
  border-radius: 0.5em;
  color: #fff;
  font-weight: 700;
}
.button:hover{
  background-color: #1F8A70;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
