<div class="contenedor">
  <h2>Restaurantes disponibles:</h2>
  <div class="contenedor-restaurante">
    <article class="restaurantes" *ngFor="let restaurante of restaurantes">
      <img src="{{restaurante.urlLogo}}" alt="" class="logo-restaurante">
      <h5>{{restaurante.nombre}}</h5>
      <p><strong>Sucursales:</strong></p>
      <div class="direccion">
        <div class="fa-contenedor" (click)="abrirModal(restaurante.id)">
          <i class="fa fa-location-arrow" aria-hidden="true"></i>
        </div>
      </div>
      <div class="botones">
        <a class="button" [routerLink]="['menu']" [queryParams]="{ id: restaurante.id }">Ver menú</a>
      </div>
    </article>
  </div>
</div>

<div id="myModal" class="modal"  [style]="(mostrarModal)?'display: block':'display: none'" >
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <h3>Agregar adiciones</h3>
      <span class="close" (click)="cerrarModal()">&times;</span>
    </div>
    <div class="modal-body">
      <div *ngFor="let sucursal of sucursalesMostrar" >
          <p><i style='font-size:15px' class='fas'>&#xf3c5;</i> {{sucursal.direccion}}</p>
      </div>
    </div>
    <!-- <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div> -->
  </div>

</div>
