<div class="contenedor">
  <h2>Restaurantes disponibles:</h2>
  <div class="contenedor-restaurante">
    <article class="restaurantes" *ngFor="let restaurante of restaurantes">
      <img src="{{restaurante.urlLogo}}" alt="" class="logo-restaurante">
      <h5>{{restaurante.nombre}}</h5>
      <p><strong>Sucursales:</strong></p>
      <div class="direccion">
        <div *ngFor="let sucursal of sucursales" >
          <p *ngIf="restaurante.id == sucursal.id_restaurante"><i style='font-size:15px' class='fas'>&#xf3c5;</i> {{sucursal.direccion}}</p>
        </div>
      </div>
      <div class="botones">
        <a class="button" [routerLink]="['menu']" [queryParams]="{ id: restaurante.id }">Ver menú</a>
      </div>
    </article>
  </div>

</div>
