<div class="contenedor">
  <p>Llene los campos para crear una nueva adición:</p>
  <form>
    <div class="row">
      <div class="col-sm-6 offset-md-3">
        <div class="card card-body">
          <form (submit)="submitAdicion()">
            <div class="form-group">
              <label for="nombre">Nombre de producto:</label>
              <input type="text" name="nombre" [(ngModel)]=" adicionNueva.id_producto" class="form-control">
            </div>
            <div class="form-group">
              <label for="nombre">Producto al que pertence: </label><br>
              <select name="" id="" [(ngModel)]="adicionNueva.id_producto">
                <option *ngFor="let producto of productos" value="{{producto.id_producto}}" >ID({{producto.id_producto}}) - S({{producto.sucursal}}) - {{producto.nom_producto}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="nombre">Sucursal:</label>
              <input type="number" name="id_sucursal" [(ngModel)]=" adicionNueva.nom_adicion" class="form-control">
            </div>
            <div class="form-group">
              <label for="nombre">Tipo de producto:</label>
              <input type="number" name="tipo" [(ngModel)]=" adicionNueva.precio" class="form-control">
            </div>
            <button class="btn btn-primary btn-block">Crear</button>
          </form>
        </div>
      </div>
    </div>
  </form>
</div>
