<div class="contenedor">
  <h2>Productos disponibles - {{restauranteNombre}}</h2>
  <div class="contenedor-restaurante">
    <article class="restaurantes" *ngFor="let producto of productos; let i = index "
    [style]="(producto.cantidad == 0)?'background-color: #f3f3f3; color: #bbbbbb':'background-color: #E4DCCF; color: black;'">
      <div class="imagen-producto">
        <img src="{{producto.imagen}}" alt=""
        [style]="(producto.cantidad == 0)?'filter: grayscale(1)':'filter: none'">
      </div>
      <h4>{{producto.nombre}}</h4>
      <p><strong>Tipo: </strong>{{producto.tipoProducto.nombre}}</p>
      <p><strong>Descripción: </strong>{{producto.descripcion}}</p>
      <p><strong>Precio: </strong>${{producto.precio}}</p>
      <div class="botones">
        <!-- <input type="submit" class="button" (click)="initAddToCart(producto, i)" value="Comprar"> -->
        <a class="button" (click)="initAddToCart(producto)">Comprar</a>
      </div>
    </article>
  </div>

</div>

<div id="myModal" class="modal"  [style]="(mostrarModal)?'display: block':'display: none'" >
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <h3>Agregar adiciones</h3>
      <span class="close" (click)="cerrarModal()">&times;</span>
    </div>
    <div class="modal-body">

      <form [formGroup]="adicionForm">
        <div *ngIf="productoSelected != null && productoSelected.adiciones.length > 0">
          <label for="adiciones">Adiciones</label> <br>
          <select name="adiciones" id="adiciones" multiple formControlName="adiciones">
            <option *ngFor="let adicion of productoSelected.adiciones" [value]="adicion">{{adicion.nombre + " - $" + adicion.precio}}</option>
          </select>
        </div>
        <div *ngIf="productoSelected != null && productoSelected.adiciones.length == 0">
          <p>Este producto no tiene adiciones</p>
        </div>
        <div class="botones">
          <input type="submit" class="button" (click)="addToCart()" value="Continuar">
        </div>
      </form>
    </div>
    <!-- <div class="modal-footer">
      <h3>Modal Footer</h3>
    </div> -->
  </div>

</div>


