<footer>
  <div class="izq">
    <p><strong>Desarrollado por:</strong><br> Juan David Olmos Corredor - 20202020004
      <br>Ichel Delgado Morales - 20202020029<br></p>
  </div>
  <div class="center">
    <p><strong>Curso: </strong> de Ingeniería de Software. <br>Facultad de Ingeniería
    <br><strong>Universidad Distrital Francisco José de Caldas.</strong></p>
  </div>
  <div>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Escudo_UD.svg/248px-Escudo_UD.svg.png" alt="">
  </div>
</footer>
