<div class="contenedor">
  <h5>Productos en el carrito</h5>
  <div class="row">
    <div class="col-12 " *ngFor="let item of items; let i = index ">
      <div class="row" id="{{ item.id}}">
        <div class="col-6">
          <small class=" ">{{ item.restaurante.nombre }}</small>
          <div class=" ">
              {{ item.nombre }}
              <small>( {{ item.precio | currency }} ) </small>
          </div>
          <div *ngIf="item.adiciones != null">
            <small>Adiciones: </small>
            <small *ngFor="let adicion of item.adiciones;">
              <small>{{adicion.nombre}} ( {{ adicion.precio | currency }} ) </small>
            </small>
          </div>

          <!-- <small>
            <ul>
              <li *ngFor="let adicion of item.adiciones; let j = index ">
                {{adicion.nombre}}
                <small>( {{ adicion.precio | currency }} ) </small>
              </li>
            </ul>
          </small> -->

        </div>
        <div class="col-2 pr-0">
              <div #subTotalWrap>{{ calcularProductoConAdiciones(item.precio, (item.adiciones != null ? item.adiciones : [])) | currency}}</div>
        </div>
        <div class="col-1 pl-0">
              <button class="btn btn-secondary" (click)="removeFromCart(item)"> x</button>
        </div>
      </div>
    </div>
    <div class="col-12 ">
          <hr />
      <div>
            Total de la orden:
            <span class="font-weight-bold">{{total | currency}}</span><hr>

            <div *ngIf="existeUnaSesionCliente">
              <label for="metodo">Metodo de pago: </label>
              <select name="metodo" id="metodo">
                <option value="">--Seleccione</option>
                <option *ngFor="let metodo of metodosPago" value="{{metodo.id}}">{{metodo.nombre}}</option>
              </select><hr>
            </div>


            <button class="btn btn-primary" (click)="clearCart(items)"> Vaciar carrito</button>
            <button class="btn btn-primary" (click)="iniciarPedido()"> Pedir</button>
      </div>
    </div>

  </div>

  <hr>

  <!-- <label for="identificacion">Identificación cliente (CC)</label>
  <input type="text" name="identificacion" id="identificacion" value="">
  <button class="btn btn-primary" (click)="validarCliente()"> Validar cliente</button>
  <button *ngIf="buttonPedir" class="btn btn-primary" (click)="iniciarPedido()"> Pedir</button>

  <div *ngIf="existeCliente">
    <p>Dirección: {{cliente.direccion}} - Teléfono: {{cliente.telefono}}</p>
    <label for="metodo">Metodo de pago: </label>
    <select name="metodo" id="metodo">
      <option value="">--Seleccione</option>
      <option *ngFor="let metodo of metodosPago" value="{{metodo.id}}">{{metodo.nombre}}</option>
    </select>
  </div> -->



</div>
